<div class="h-screen bg-white p-8 relative flex flex-col items-stretch">
  <img src="../../../../assets/icons/logo.png" width="100" alt="logo">
  <div class="p-8 flex flex-col items-center justify-center ">
    <div class="max-w-xs">
      <img class="mb-3 w-100 mx-auto"
        src="https://img.freepik.com/free-vector/human-resources-concept-illustration_114360-27842.jpg?t=st=1727378983~exp=1727382583~hmac=e21e588b4a274c21d75244b495fa93d98e33586abd0d61c64a21e0a593bf3270&w=826">
    </div>
    <h3 class="text-md font-bold">Crea tu primer tarea</h3>
  </div>
  <div class="flex flex-col items-center justify-center ">

    <p class="text-sm text-gray-700 max-w-sm text-center">Invita a tu familia o amigos a participar en tu primera tarea!</p>
  </div>
  <div class="flex flex-col items-center justify-center md:mt-8">
    <button routerLink="create" type="button"
      class="flex items-center text-indigo-100 transition-colors duration-150 bg-gradient-to-br from-indigo-800 to-indigo-500 rounded-md h-12 m-2 text-sm px-12">Crear
      tarea <span class="ml-2 material-symbols-outlined">
        add
      </span></button>
  </div>
</div>
