<!-- component -->
<div class="flex items-center justify-center h-screen bg-gradient-to-br from-gray-100 to-indigo-500">
  <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 relative sm:max-w-sm w-full max-w-xs">
    <div class="p-8">
      <img class="mb-3 w-40 h-40 rounded-full shadow-lg mx-auto" src="https://img.freepik.com/vector-premium/hombre-sienta-frente-computadora-reloj-parte-superior_1230457-46030.jpg?w=826" alt="product designer">
    </div>
    <h1 class="text-lg text-gray-700"> To-Do List </h1>
    <p class="text-xs text-gray-400 mt-4">Bienvenido a Velaio-App, tu herramienta ideal para mantenerte organizado y al tanto de tus tareas. Con nuestra aplicación, puedes crear, gestionar y completar tareas fácilmente, todo en un solo lugar. Aumenta tu productividad con recordatorios personalizables, listas colaborativas y un diseño intuitivo creado especialmente para ti. Comienza hoy y toma el control de tus tareas pendientes como nunca antes.</p>
    <button routerLink="/tasks" class="bg-gradient-to-br from-indigo-800 to-indigo-500 px-8 py-2 mt-8 rounded-md text-gray-100 font-semibold tracking-wide text-sm">Comenzar</button>
  </div>
</div>
